<template>
    <div class="chat">

        <div class="topline">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="../assets/icon-triangle.png" alt="Чат">
                        <p class="text-center">Тестовое задание</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="messages-wrapper" id="message-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-10 col-md-6">
                        <div class="messages-item" v-for="(msg, index) in getMessages" :key="msg.id">
                            <p class="message-text">{{msg.message}}</p>
                            <span class="message-user">{{msg.user}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="send-message-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <input type="text" placeholder="Type a message" v-model="message" @keyup.enter="sendMessage">
                        <button @click="sendMessage"><img src="../assets/icon-send.png" class="img-responsive"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
	export default {
		name: 'about',
		data() {
			return {
				user: '',
				message: ''
			}
		},

		computed: {
			getMessages() {
				return this.$store.getters.GET_MESSAGES;
			}
		},

		methods: {
			sendMessage() {
				const message = {
					user: 'Jognam',
					message: this.message
				};
				this.$store.dispatch('POST_MESSAGE', message);
				this.message = '';
			}
		}
	}
</script>

<style scoped lang="scss">
    @import "../assets/style/vars";

    .topline {
        padding-top: 32px;
        color: #fff;
        background-color: #000;
        font-size: 16px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
        img {
            float: left;
            margin-top: 8px;
        }
    }

    .messages-wrapper {
        margin-top: 84px;
        margin-bottom: 60px;
        z-index: 5;
        .messages-item {
            background-color: #fff;
            margin-bottom: 24px;
            padding: 20px;
            box-shadow: 13px 0 18px rgba(0, 0, 0, .20);
            .message-text {
                font-size: 16px;
                margin-bottom: 0;
            }
            .message-user {
                font-size: 12px;
                font-weight: 600;
                color: #ad807d;
            }
        }
    }

    .send-message-wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #000;
        padding: 20px 0;
        font-size: 14px;

        input {
            border: none;
            width: 70%;
            background-color: #000;
            color: #fff;
            &::placeholder {
                color: #fff;
            }
        }

        button {
            width: 80px;
            height: 80px;
            border: none;
            background-color: $pink;
            cursor: pointer;
            border-radius: 10em;
            float: right;
            margin-top: -60px;
            outline: none;
            transition: all ease .15s;

            &:hover {
                background-color: lighten($pink, 5%);
            }
            &:active {
                background-color: darken($pink, 10%);
            }

            img {
                margin: 0 auto;
            }
        }

    }


</style>
