<template>
	<div class="home">
		<h1>Chat</h1>
		<img src="../assets/icon.png" alt="Чат">
		<div class="login-wrapper">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-sm-6">
						<div class="login-form">
							<label for="username">username</label>
							<input required @keyup.enter="logIn" v-model="username" name="username" type="text" placeholder="Your nickname">
							<button @click="logIn">Get started</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	export default {
		name: 'home',
		data () {
			return {
				username: ''
			}

		},
		methods: {
			logIn() {
				let anyNonDigits = new RegExp('\D','g');
				if(this.username.match(/^\s*$/g)) {
					console.log('no');

				} else {
					console.log(this.username);
				}

			}
		}
	}
</script>

<style scoped lang="scss">
	@import "../assets/style/vars";

	.home {

		height: 100vh;
		background: $accent url(../assets/triangel.png) 0 20px no-repeat;
		background-size: cover;

		img {
			margin: 0 auto;
			display: block;
		}
	}

	h1 {
		font-size: 96px;
		color: #fff;
		font-weight: 400;
		text-align: center;
	}

	.login-wrapper {
		background-color: #000;
		height: 50vh;
		margin-top: 150px;

		.login-form {
			background-color: #fff;
			margin-top: -50px;
			padding: 80px 0 0;
			display: flex;
			flex-direction: column;

			label {
				display: block;
				margin: 0 35px;
				color: #ad807d;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
			}

			input {
				margin: 8px 35px 64px;
				border: none;
				border-bottom: 1px solid #cccccc;
				font-size: 16px;
			}

			button {
				border: none;
				text-align: right;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
				padding: 21px 36px;
				cursor: pointer;
				background-color: $accent;
				color: #fff;
				position: relative;
				outline: none;
				&:hover {
					background-color: lighten($accent, 5%);
				}
				&:active {
					background-color: darken($accent, 5%);
				}
				&:before {
					content: ' ';
					position: absolute;
					width: 10px;
					height: 13px;
					background: url(../assets/icon-triangle.png) no-repeat;
					background-size: contain;
					left: 36px;
					top: 27px;

				}
			}
		}
	}

	@media all and (max-width: 576px) {
		h1 {
			text-align: left;
			width: 30%;
			padding-top: 50px;
			font-size: 87px;
			line-height: 0.40;
			margin: 0;
			z-index: 50;
			position: sticky;
		}

		img {
			display: block;
			z-index: 1;
		}

		.login-wrapper {
			margin-top: 100px;
		}
	}

</style>
