<template>
	<div id="app">
		<router-view/>
	</div>
</template>

<style lang="scss">
	@import "plugins/bootstrap";
	@import "assets/style/vars";

	::placeholder {
		color: #666;
	}

	::selection {
		background-color: $accent;
		color: #fff;
	}

	body {
		background: $accent url(assets/triangel.png) 0 20px no-repeat;
		background-size: cover;
		font-size: 16px;
		min-width: 320px;
		position: relative;
		line-height: 1.65;
		font-family: $default-font;
		overflow-x: hidden;
		color: $text;
		input, textarea {
			border: #666 1px solid;
			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
		}
	}

	.img-responsive {
		display: block;
		max-width: 100%;
		height: auto;
		&.img-width {
			width: 100%;
		}
	}

	.text-center {
		text-align: center;
	}

	b, strong {
		font-weight: bold;
	}

</style>
